body {
  background-color: #e1f1f6;
  color: #222;
  font-family: Helvetica, sans-serif;
}

.page {
  background-color: #fff;
  border-radius: 5px;
  margin: 50px auto;
  padding: 50px;
  width: 70%;
}

.page-header {
  margin-bottom: 20px;
}

.page-header h2 {
  color: #555;
  float: left;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.page-header .student-search {
  float: right;
}

.page-header .student-search input {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  font-size: 14px;
  padding: 8px 15px;
}

.page-header .student-search button {
  background-color: #4ba6c3;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  padding: 8px 15px;
}

.student-list {
}

.student-item {
  border-bottom: 1px solid #eaeaea;
  margin: 0 0 20px 0;
  opacity: 0;
  padding: 0 0 20px 0;
  transition: all 0.4s ease-out;
}

.student-item.show {
  opacity: 1;
}

.student-details {
  float: left;
  width: 50%;
}

.student-details .avatar {
  border-radius: 20px;
  float: left;
  height: auto;
  margin-right: 14px;
  width: 40px;
}

.student-details h3 {
  color: #4ba6c3;
  font-weight: bold;
  margin: 4px 0 2px 0;
}

.student-details .email {
  color: #888;
  font-size: 14px;
}

.joined-details {
  float: left;
  text-align: right;
  width: 50%;
}

.joined-details .date {
  color: #999;
  display: block;
  font-size: 14px;
  margin-top: 15px;
}

.student-item:last-child {
  border-bottom: none;
  margin: 0;
  padding: 0;
}

.pagination {
  margin: 40px 0 0 0;
  text-align: center;
}

.pagination li {
  display: inline;
}

.pagination li a {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  color: #4ba6c3;
  padding: 3px 8px;
  text-decoration: none;
}

.pagination li a.active,
.pagination li a:hover {
  background-color: #4ba6c3;
  color: #fff;
}
